<div class="section">

    <h5 class="mem_dtbTitle mem_num1">Outline of the technology</h5>
    <table class="mem_dtb">
        <tr>
            <th>Title</th>
            <td>Name of the technology</td>
        </tr>
        <tr>
            <th>Organization</th>
            <td>Application organization</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>URL of the organization</td>
        </tr>
        <tr>
            <th>Outline</th>
            <td>Outline</td>
        </tr>
        <tr>
            <th>Superiority</th>
            <td>Superiority</td>
        </tr>
        <tr>
            <th>Scene</th>
            <td>Scene applying the technology</td>
        </tr>
        <tr>
            <th>Target</th>
            <td>Target of decontamination etc.</td>
        </tr>
        <tr>
            <th>Classification</th>
            <td>Classification of the method</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>The notes of caution applying the technology</td>
        </tr>
        <tr>
            <th>Constraints</th>
            <td>Constraints in charge of application</td>
        </tr>
        <tr>
            <th>Utilization stage</th>
            <td>Stage of research or utilization</td>
        </tr>
        <tr>
            <th>Development plan</th>
            <td>Development plan</td>
        </tr>
        <tr>
            <th>Patent</th>
            <td>Patent application etc.</td>
        </tr>
        <tr>
            <th>Reference</th>
            <td>Reference web site</td>
        </tr>
        <tr>
            <th>Documents</th>
            <td>Support documents</td>
        </tr>
        <tr>
            <th>Remarks</th>
            <td>Remarks</td>
        </tr>
     </table>

    <h5 class="mem_dtbTitle mem_num2">Verification tests</h5>
     <table class="mem_dtb">
        <tr>
            <th>Time schedule</th>
            <td>Time schedule</td>
        </tr>
        <tr>
            <th>Place</th>
            <td>Place</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>Summary</td>
        </tr>
        <tr>
            <th>Effectiveness</th>
            <td>Effectiveness</td>
        </tr>
        <tr>
            <th>Waste</th>
            <td>Waste</td>
        </tr>
        <tr>
            <th>Doses</th>
            <td>Doses</td>
        </tr>
        <tr>
            <th>Intervention costs</th>
            <td>Intervention costs</td>
        </tr>
     </table>

    <h4 class="mem_dtbTitle mem_num3">Application in decontamination work etc.</h4>
     <table class="mem_dtb">
        <tr>
            <th>Summary</th>
            <td>Summary</td>
        </tr>
     </table>

    <h4 class="mem_dtbTitle mem_num4">Review</h4>
     <table class="mem_dtb">
        <tr>
            <th>Comments</th>
            <td>Review comments by scholars </td>
        </tr>
     </table>

</div>