<div class="section">

    <h4 class="sectitle">技術個票の各項目の記載内容</h4>
    <h5 class="mem_dtbTitle">１. 技術概要</h5>
    <table class="mem_dtb">
        <tr>
            <th>整理番号</th>
            <td>技術個票の整理番号（T-00001～T-99999）</td>
        </tr>
        <tr>
            <th>技術名称</th>
            <td>当該技術の名称あるいは製品名等</td>
        </tr>
        <tr>
            <th>申請機関名</th>
            <td>申請機関の名称</td>
        </tr>
        <tr>
            <th>技術の概要</th>
            <td>当該技術の用途や導入効果等の概要</td>
        </tr>
        <tr>
            <th>技術の優位性</th>
            <td>当該技術の新規性や既存技術に対しての優位性等</td>
        </tr>
        <tr>
            <th>適用場面</th>
            <td>除染等において当該技術を適用する場面に関する分類</td>
        </tr>
        <tr>
            <th>対象物</th>
            <td>除染等において当該技術を適用する対象物に関する分類</td>
        </tr>
        <tr>
            <th>手法</th>
            <td>当該技術の手法に関する分類</td>
        </tr>
        <tr>
            <th>注意点</th>
            <td>当該技術を除染作業等に適用する際に、安全対策や環境影響への対応等の観点から注意するべき点</td>
        </tr>
        <tr>
            <th>適用の制約条件</th>
            <td>当該技術を除染等へ適用するにあたっての制約条件（例えば自然条件、現場条件、技術提供可能地域、技術使用者、関係法令等）</td>
        </tr>
        <tr>
            <th>研究・実用化段階</th>
            <td>当該技術の研究・実用化段階に関する分類</td>
        </tr>
        <tr>
            <th>今後の開発計画</th>
            <td>当該技術に関する今後の開発計画の概要</td>
        </tr>
        <tr>
            <th>特許</th>
            <td>当該技術に関する現時点での特許や実用新案等の有無や出願状況等</td>
        </tr>
        <tr>
            <th>補足資料</th>
            <td>当該技術に関して補足する資料</td>
        </tr>
        <tr>
            <th>参考サイト</th>
            <td>当該技術に関連する情報が掲載されているwebサイト</td>
        </tr>
        <tr>
            <th>備考</th>
            <td>当該技術に関して補足資料以外に特記するべき事項</td>
        </tr>
    </table>

    <h5 class="mem_dtbTitle">２. 実証試験の概要及び結果</h5>
    <table class="mem_dtb">
        <tr>
            <th>実証期間</th>
            <td>当該技術に関して実証試験を行った年月日や期間等</td>
        </tr>
        <tr>
            <th>実証場所</th>
            <td>当該技術に関して実証試験を行った場所</td>
        </tr>
        <tr>
            <th>実証内容</th>
            <td>当該技術に関して行った実証試験の内容</td>
        </tr>
        <tr>
            <th>除染効果</th>
            <td>当該技術を適用したことによる効果</td>
        </tr>
        <tr>
            <th>除去物発生量</th>
            <td>当該技術を適用したことによる除去物発生量</td>
        </tr>
        <tr>
            <th>作業員被ばく</th>
            <td>当該技術を適用した際の作業員被ばく情報</td>
        </tr>
        <tr>
            <th>コスト</th>
            <td>当該技術を適用した場合の歩掛り（作業人工、作業速度）等</td>
        </tr>
    </table>

    <h4 class="mem_dtbTitle">３. 除染における適用実績</h4>
    <table class="mem_dtb">
        <tr>
            <th>適用実績</th>
            <td>当該技術を除染等において実際に適用した実績の内容</td>
        </tr>
    </table>

    <h4 class="mem_dtbTitle">４. 専門家評価</h4>
    <table class="mem_dtb">
        <tr>
            <th>専門家評価結果</th>
            <td>当該技術に対する専門家による評価コメント（申請者が希望し、かつ専門家が評価することが可能な情報（実証試験の概要及び結果等）が掲載されている場合）</td>
        </tr>
    </table>

</div>

<div class="section">

    <h4 class="sectitle">研究・実用化段階の分類</h4>

    <table class="mem_dtb">
        <tr>
            <th>基礎研究段階</th>
            <td>実験・シミュレーション等により、基本原理や要素技術を研究している。</td>
        </tr>
        <tr>
            <th>応用研究段階</th>
            <td>用途を特定した上で、検証実験を伴う応用研究を実施している。</td>
        </tr>
        <tr>
            <th>実用化段階</th>
            <td>サンプルや試作機を製造するプロセスを構築している。</td>
        </tr>
        <tr>
            <th>事業化段階</th>
            <td>当該商品・製品等により、継続的に売上を得ている。</td>
        </tr>
    </table>

</div><!-- end.div section -->