<div id="foot">
    <div class="foot_inner">

    <ul class="fnav">
        <li>｜</li>
        <li><a href="/dtox/privacy">個人情報保護方針</a></li>
        <li>｜</li>
        <li><a href="/dtox/terms">利用規約</a></li>
        <li>｜</li>
    </ul>

    <address>このポータルサイトは環境省からの請負契約に基づき中間貯蔵・環境安全事業株式会社（JESCO）が運営しています。<br />
Copyright &copy; 2013- Ministry of the Environment, Government of Japan, All Rights Reserved.
    </address>

    </div><!-- end.div foot_innder -->
</div><!-- end.div foot -->